[Unit]
Description=Open Trade Statistics API

[Service]
ExecStart=/usr/bin/Rscript -e "api <- plumber::plumb('/tradestatistics/plumber-api/queries.R'); api$run(port=4949, host='localhost', swagger=TRUE)"
Restart=on-abnormal
WorkingDirectory=/tradestatistics/plumber-api

[Install]
WantedBy=multi-user.target
