[Unit]
Description=Plumber API
After=postgresql

[Service]
ExecStart=/usr/bin/Rscript -e "api <- plumber::plumb('/apis/tradestatistics/queries.R'); api$run(port=8080, host='0.0.0.0', swagger = TRUE)"
Restart=on-abnormal
WorkingDirectory=/apis/tradestatistics/

[Install]
WantedBy=multi-user.target
